body {
    margin:0;
    font-family: 'Roboto', sans-serif;
}

.header {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    justify-content: space-between;
    padding: 0 150px;
    padding-top: 16px;
    padding-bottom: 100px;
}

.top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.placeholder {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: grey;
    width: 800px;
    height: 200px;
    color: white;
}


.logo {
    display: flex;
    font-weight: bold;
    color: #F9FAF8;

    font-size: 24px;
}

.main {
    display: flex;
}

.content {
    display: flex;
    flex-direction: column;
    padding: 16px 250px;
    flex-shrink: 1;
}

.pictures {
    display: flex;
    gap: 15px;
}

img {
    max-width: 150px;
    height: auto;
}

.main-text{
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}

.sec-text {
    font-size: 18px;
    color:#F9FAF8;
    margin-bottom: 10px;
}

.image {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    width: 200px;
    text-align: center;
}

.square {
    width: 150px;
    height: 150px;
    background-color: white;
    border-style: solid;
    border-color: #3882F6;
}

.random {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
    text-align: center;
    margin-bottom: 50px;
}


.button1 {
    color: white;
    background-color: #3882F6;
    border-radius: 4px;
    padding: 8px 16px;
    font-weight: 800;
    border: 1px #3882F6;
}

.quote {
    display: flex;
    flex-direction: column;
    padding: 100px 250px;
    flex-shrink: 1;
    background-color: #E5E7EB;
}

.text {
    font-size: 36px;
    font-style: italic;
    font-weight: 100px;
    color:#1F2937;
    margin-bottom: 0;
}

.author {
    margin-top: 3px;
    font-weight: bold;
    font-size: 30px;
    text-align: right;
}

.banner {
    display: flex;
    background-color: #3882F6;
    padding: 32px 128px;
    margin: 64px 128px;
    border-radius: 8px;
    justify-content: space-between;
}

.left {
    display: flex;
    flex-direction: column;
}

.text1 {
    color: #E5E7EB;
    font-weight: 800;
    margin-bottom: -10px;
}

.text2 {
    color:#E5E7EB;
}

.signUp {
    color: white;
    background-color: #3882F6;
    border-radius: 4px;
    padding: 1px 8px;
    font-weight: 800;
    border-style: solid;
    border-color: white;
}

.footer {
    background-color: #1F2937;
}

.copyright {
    text-align: center;
    color:#E5E7EB;
    padding: 32px 0;
    margin-bottom: 0;
}

.links {
    display: flex;
    list-style-type: none;
    color: white;
    font-family: 'Roboto', sans-serif;
    justify-content: space-evenly;
    gap: 16px;
}

a:link {
    text-decoration: none;
    color: white;
}

a:visited {
    text-decoration: none;
    color: white;
}
